<div class="center">
<div class="form-floating">
    <textarea class="form-control bg-dark text-white" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea " class="text-warning">Dale un titulo a tu comentario 😀</label>
  </div>

  <div class="form-floating">
    <textarea class="form-control bg-dark text-white" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2" class="text-warning">Tu comentario 💬</label>
    <button type="button" class="btn btn-outline-light">Comentar</button>
  </div>
   <img [src]="cuerpo.img" alt="...">   
</div>